button, .btn{
  cursor: pointer;
  background: none;
  border: none;
}

.btn{
  user-select: none;
  display: inline-block;
  color: $black;
  font-size: .8335rem;
  box-shadow: inset 0 0 0 0.0625rem $black;
  border-radius: .25rem;
  padding: .5rem 1.5rem;
  &.black{
    background: $black;
    color: $white;
  }
}