body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: $text;
}

a{
  text-decoration: none;
  color: $text;
  &:hover{
    text-decoration: underline;
  }
}

.furigana{
  position: relative;
  display: inline-flex;
  flex-flow: column-reverse;
  align-items: center;
  span{
    position: absolute;
    top: -0.5rem;
    white-space: nowrap;
    font-size: .5rem;
    line-height: 2 !important;
  }
}