.table{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-grid;
  border-top: .0625rem solid $border;
  border-left: .0625rem solid $border;

  .td{
    padding: .75rem;
    border-bottom: .0625rem solid $border;
    border-right: .0625rem solid $border;
    &.th{
      font-weight: 500;
      background: #F7F6F2;
    }
  }
}